/* Critical CSS Bundle - Deprecated */
/* This file is no longer used - styles are loaded via <link> tags in head.html */
/* Kept for backwards compatibility but should be removed from head.html after testing */
/* @import statements removed for performance - styles are loaded directly via <link> tags */


