<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <!-- Header -->
    {% include header.html %}
    
    <!-- Main Content -->
    <main id="main-content" class="main-content">
        {{ content }}
    </main>
    
    <!-- Footer -->
    {% include footer.html %}
    
    <!-- Scroll to top button -->
    {% include scroll-to-top.html %}
    
    <!-- Firebase SDK & Auth -->
    {% unless page.custom_firebase %}
    {% include firebase-init.html %}
    {% include firebase-auth.html %}
    {% endunless %}
</body>
</html>
